<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory name="closerby">
	<!-- 
		<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="hibernate.connection.datasource">java:comp/env/jdbc/closerbyDB</property>
		<property name="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</property>
	 -->	

	<!-- 
		<property name="hibernate.connection.url">jdbc:mysql://localhost:3333/closerby</property> 
		<property name="hibernate.connection.username">closerby</property> 
		<property name="hibernate.connection.password">closerby</property> 
		<property name="hibernate.default_schema">closerby</property> 
	-->

	<!-- 
		<property name="hibernate.current_session_context_class">thread</property>
		<property name="hibernate.cache.use_query_cache">true</property>		
		<property name="show_sql">true</property>
		<property name="hibernate.hbm2ddl.auto">validate</property>
    -->
        
        <mapping resource="com/tresfocus/ekart/hibernate/mapping/Address.hbm.xml" />
        <mapping resource="com/tresfocus/ekart/hibernate/mapping/BrandedProduct.hbm.xml" />
        <mapping resource="com/tresfocus/ekart/hibernate/mapping/Brands.hbm.xml" />
        <mapping resource="com/tresfocus/ekart/hibernate/mapping/Category.hbm.xml" />
        <mapping resource="com/tresfocus/ekart/hibernate/mapping/CategoryType.hbm.xml" />
        <mapping resource="com/tresfocus/ekart/hibernate/mapping/Country.hbm.xml" />
        <mapping resource="com/tresfocus/ekart/hibernate/mapping/Cities.hbm.xml" />
        <mapping resource="com/tresfocus/ekart/hibernate/mapping/CustomerRetailer.hbm.xml" />
        <mapping resource="com/tresfocus/ekart/hibernate/mapping/LookupType.hbm.xml" />
        <mapping resource="com/tresfocus/ekart/hibernate/mapping/MeasuringUnit.hbm.xml" />
        <mapping resource="com/tresfocus/ekart/hibernate/mapping/Organization.hbm.xml" />
        <mapping resource="com/tresfocus/ekart/hibernate/mapping/OrderLines.hbm.xml" />
        <mapping resource="com/tresfocus/ekart/hibernate/mapping/Orders.hbm.xml" />
        <mapping resource="com/tresfocus/ekart/hibernate/mapping/OrderHistory.hbm.xml" />
        <mapping resource="com/tresfocus/ekart/hibernate/mapping/Product.hbm.xml" />
        <mapping resource="com/tresfocus/ekart/hibernate/mapping/Roles.hbm.xml" />
        <mapping resource="com/tresfocus/ekart/hibernate/mapping/RetailerSnapshot.hbm.xml" />
        <mapping resource="com/tresfocus/ekart/hibernate/mapping/RetailerCategory.hbm.xml" />
        <mapping resource="com/tresfocus/ekart/hibernate/mapping/RetailerZone.hbm.xml" />
        <mapping resource="com/tresfocus/ekart/hibernate/mapping/States.hbm.xml" />
        <mapping resource="com/tresfocus/ekart/hibernate/mapping/User.hbm.xml" />
        <mapping resource="com/tresfocus/ekart/hibernate/mapping/UserAddress.hbm.xml" />
        <mapping resource="com/tresfocus/ekart/hibernate/mapping/UserRole.hbm.xml" />
        <mapping resource="com/tresfocus/ekart/hibernate/mapping/Zone.hbm.xml" />
	</session-factory>
</hibernate-configuration>
