.AccordionTitle, .AccordionContent, .AccordionContainer
{
  width: 190px;
}

.AccordionTitle
{
  height:30px;
  overflow:hidden;
  cursor:pointer;
  font-family:Arial;
  font-size:8pt;
  font-weight:bold;
  color:white;
  vertical-align:middle;
  text-align:left;
  background-repeat:repeat-x;
  display:table-cell;
  background-image:url('../images/customer/header_bg.png');
    -moz-user-select:none;
  border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

.AccordionContent
{
  height:0px;
  overflow:auto;
  display:none; 
  /*background:url('images/img07.gif') repeat-x;*/
}

.AccordionContainer
{
  /*border-top: solid 1px #C1C1C1;
  border-bottom: solid 1px #C1C1C1;
  border-left: solid 2px #C1C1C1;
  border-right: solid 2px #C1C1C1;*/
  /* border-top: solid 1px #0052CC;
  border-bottom: solid 1px #0052CC;
  border-left: solid 2px #0052CC;
  border-right: solid 2px #0052CC; */
 
}
 .AccordionOpen
{
  height:180px;
  width: 190px;
  overflow:auto;
  background:url('../images/img07.gif') repeat-x;
}

 .ConsoleAccordionOpen
{
  height:180px;
  width: 190px;
  overflow:auto;
  background:url('../images/img07.gif') repeat-x;
}
